<!DOCTYPE html>
<html lang="fr">
<!-- Mirrored from envato.megadrupal.com/html/gofar/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 30 Sep 2017 20:48:35 GMT -->
<head>
  <meta charset="utf-8">
  <title>Sinter Voyages</title>
  <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
  <meta content="telephone=no" name="format-detection">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:700,600,400,300" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Oswald:400" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css">
  <link href="css/lib/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="css/lib/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="css/lib/awe-booking-font.css" rel="stylesheet" type="text/css">
  <link href="css/lib/owl.carousel.css" rel="stylesheet" type="text/css">
  <link href="css/lib/magnific-popup.css" rel="stylesheet" type="text/css">
  <link href="css/lib/jquery-ui.css" rel="stylesheet" type="text/css">
  <link href="revslider-demo/css/settings.css" rel="stylesheet" type="text/css">
  <link href="css/style.css" rel="stylesheet" type="text/css">
  <link href="css/demo.css" rel="stylesheet" type="text/css">
  <link href="css/colors/blue.css" id="colorreplace" rel="stylesheet" type="text/css"><!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script><![endif]-->
  <script>
    ! function(f, b, e, v, n, t, s) {
      if (f.fbq) return;
      n = f.fbq = function() {
        n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      };
      if (!f._fbq) f._fbq = n;
      n.push = n;
      n.loaded = !0;
      n.version = '2.0';
      n.queue = [];
      t = b.createElement(e);
      t.async = !0;
      t.src = v;
      s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s)
    }(window, document, 'script', '../../../connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1031554816897182');
    fbq('track', "PageView");
  </script><noscript><img height="1" src="https://www.facebook.com/tr?id=1031554816897182&amp;ev=PageView&amp;noscript=1" style="display:none" width="1"></noscript>
</head><!--[if IE 7]><body class="ie7 lt-ie8 lt-ie9 lt-ie10"><![endif]--><!--[if IE 8]><body class="ie8 lt-ie9 lt-ie10"><![endif]--><!--[if IE 9]><body class="ie9 lt-ie10"><![endif]--><!--[if (gt IE 9)|!(IE)]><!-->
<body>
<!--<![endif]-->
<div id="page-wrap">
  <div class="preloader"></div>
  <header id="header-page">
    <div class="header-page__inner">
      <div class="container">
        <div class="logo">
          <!-- TDOD à changer le logo -->
          <a href="/index/machin"><img alt="" src="images/logo.png"></a>
        </div>
        <nav class="navigation awe-navigation" data-responsive="1200">
          <ul class="menu-list">
            <li class="menu-item-has-children current-menu-parent">
              <a href="/index/machin">Accueil</a>
            </li>
            <li class="menu-item-has-children">
              <a href="hotel.html">Réservation d'hotels</a>
            </li>
            <li class="menu-item-has-children">
              <a href="trip.html">Camping et Randonnées</a>
            </li>
            <li class="menu-item-has-children">
              <a href="">Organisations</a>
              <ul class="sub-menu">
                <li>
                  <a href="">Séminaires & congrés</a>
                </li>
                <li>
                  <a href="">Évennement d'entreprises</a>
                </li>
                <li>
                  <a href="">Team Building</a>
                </li>
                <li>
                  <a href="">Journée porte ouverte</a>
                </li>
                <li>
                  <a href="">Diner gala</a>
                </li>
                <li>
                  <a href="">Mariage</a>
                </li>
              </ul>
            </li>
            <li class="menu-item-has-children">
              <a href="">Autres services</a>
              <ul class="sub-menu">
                <li>
                  <a href="/traductionMachin">Traduction des documents</a>
                </li>
                <li class="menu-item-has-children">
                  <a href="">Fonctionnaires</a>
                  <ul class="sub-menu">
                    <li>
                      <a href="">Femmes de ménage</a>
                    </li>
                    <li>
                      <a href="">Agent de sécurité</a>
                    <li>
                  </ul>
                <li>
                  <a href="">Immobilier</a>
                  <ul class="sub-menu">
                    <li>
                      <a href="">Vente</a>
                    </li>
                    <li>
                      <a href="">Achat</a>
                    <li>
                    <li>
                      <a href="">Location</a>
                    <li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="menu-item-has-children">
              <a href="contact.html">Contact</a>
            </li>
          </ul>
        </nav>

      </div>
    </div>
  </header>
  <%- body%>

  <footer id="footer-page">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="widget widget_contact_info">
            <div class="widget_background">
              <div class="widget_background__half">
                <div class="bg"></div>
              </div>
              <div class="widget_background__half">
                <div class="bg"></div>
              </div>
            </div>
            <div class="logo"><!-- <img alt="" src="images/logo-footer.png"> --></div>
            <div class="widget_content">
              <p>Bureau 54, Centre X, Rue Tahar Sfar, Menzah 9, Tunis, Tunisie</p>
              <p>+216 71 XXX XXX</p><a href="mailto:Sinter.voyage@gmail.com?Subject=Demande%20d'informations"><span class="__cf_email__">Sinter.voyage@gmail.com</span></a>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="widget widget_about_us">
            <h3>À propos de nous</h3>
            <div class="widget_content">
              <p>Sinter voyages est formée d’une équipe d’experts en événementiel, convaincus par le métier et passionnés par l’art de l’organisation des événements, des atouts professionnels qui nous ont permis de s’imposer comme acteur principal et agressif dans le marché du MICE.</p>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="widget widget_follow_us">
            <div class="widget_content">
              <p>Pour une demande de réservation spéciale, veuillez appeler</p><span class="phone">+216 71 XXX XXX</span>
              <div class="awe-social">
                <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-youtube-play"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright">
        <p>©2017 Sinter travel™ All rights reserved.</p>
      </div>
    </div>
  </footer>
</div>
<script>
  ! function(e, t, r, n, c, a, l) {
    function i(t, r) {
      return r = e.createElement('div'), r.innerHTML = '<a href="' + t.replace(/"/g, '&quot;') + '"><\/a>', r.childNodes[0].getAttribute('href')
    }

    function o(e, t, r, n) {
      for (r = '', n = '0x' + e.substr(t, 2) | 0, t += 2; t < e.length; t += 2) r += String.fromCharCode('0x' + e.substr(t, 2) ^ n);
      return i(r)
    }
    try {
      for (c = e.getElementsByTagName('a'), l = '/cdn-cgi/l/email-protection#', n = 0; n < c.length; n++) try {
        (t = (a = c[n]).href.indexOf(l)) > -1 && (a.href = 'mailto:' + o(a.href, t + l.length))
      } catch (e) {}
      for (c = e.querySelectorAll('.__cf_email__'), n = 0; n < c.length; n++) try {
        (a = c[n]).parentNode.replaceChild(e.createTextNode(o(a.getAttribute('data-cfemail'), 0)), a)
      } catch (e) {}
    } catch (e) {}
  }(document);
</script>
<script src="js/lib/jquery-1.11.2.min.js" type="text/javascript">
</script>
<script src="js/lib/masonry.pkgd.min.js" type="text/javascript">
</script>
<script src="js/lib/jquery.parallax-1.1.3.js" type="text/javascript">
</script>
<script src="js/lib/jquery.owl.carousel.js" type="text/javascript">
</script>
<script src="js/lib/theia-sticky-sidebar.js" type="text/javascript">
</script>
<script src="js/lib/jquery.magnific-popup.min.js" type="text/javascript">
</script>
<script src="js/lib/jquery-ui.js" type="text/javascript">
</script>
<script src="js/scripts.js" type="text/javascript">
</script>
<script>
  (function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function() {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '../../../www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-20585382-5', 'megadrupal.com');
  ga('send', 'pageview');
</script>
<script src="revslider-demo/js/jquery.themepunch.revolution.min.js" type="text/javascript">
</script>
<script src="revslider-demo/js/jquery.themepunch.tools.min.js" type="text/javascript">
</script>
<script type="text/javascript">
  if($('#slider-revolution').length) {
    $('#slider-revolution').show().revolution({
      ottedOverlay:"none",
      delay:10000,
      startwidth:1600,
      startheight:650,
      hideThumbs:200,

      thumbWidth:100,
      thumbHeight:50,
      thumbAmount:5,


      simplifyAll:"off",

      navigationType:"none",
      navigationArrows:"solo",
      navigationStyle:"preview4",

      touchenabled:"on",
      onHoverStop:"on",
      nextSlideOnWindowFocus:"off",

      swipe_threshold: 0.7,
      swipe_min_touches: 1,
      drag_block_vertical: false,

      parallax:"mouse",
      parallaxBgFreeze:"on",
      parallaxLevels:[7,4,3,2,5,4,3,2,1,0],


      keyboardNavigation:"off",

      navigationHAlign:"center",
      navigationVAlign:"bottom",
      navigationHOffset:0,
      navigationVOffset:20,

      soloArrowLeftHalign:"left",
      soloArrowLeftValign:"center",
      soloArrowLeftHOffset:20,
      soloArrowLeftVOffset:0,

      soloArrowRightHalign:"right",
      soloArrowRightValign:"center",
      soloArrowRightHOffset:20,
      soloArrowRightVOffset:0,

      shadow:0,
      fullWidth:"on",
      fullScreen:"off",

      spinner:"spinner2",

      stopLoop:"off",
      stopAfterLoops:-1,
      stopAtSlide:-1,

      shuffle:"off",

      autoHeight:"off",
      forceFullWidth:"off",



      hideThumbsOnMobile:"off",
      hideNavDelayOnMobile:1500,
      hideBulletsOnMobile:"off",
      hideArrowsOnMobile:"off",
      hideThumbsUnderResolution:0,

      hideSliderAtLimit:0,
      hideCaptionAtLimit:0,
      hideAllCaptionAtLilmit:0,
      startWithSlide:0
    });
  }
</script>


</body>
</html>
