Bonjour ,

  Il y'a une nouvelle demande de traduction de la part de Monsieur/Madame <b><%=name%></b>,
il demande la traduction de <b><%=docType%></b> qui est sur <b><%=numberOfPages%></b> pages de la langue <b><%=sourceLanguage%></b>
vers la langue <b><%=destinationLanguage%></b>.

Pour lui contacter voici son email ainsi que son numero de telephone.
email : <%=email%>
tel : <%=tel%>

Merci


