<section class="hero-section">
  <div id="slider-revolution">
    <ul>
      <li data-masterspeed="500" data-slotamount="7" data-title="Slide title 1">
        <img alt="" data-bgposition="left center" data-bgpositionend="right center" data-duration="14000" src="images/bg/1.jpg">
        <div class="tp-caption sfb fadeout slider-caption-sub slider-caption-sub-1" data-easing="easeOutBack" data-speed="700" data-start="1500" data-x="500" data-y="230">
          Offre de dernière minute
        </div>
        <div class="tp-caption sfb fadeout slider-caption slider-caption-1" data-easing="easeOutBack" data-speed="700" data-start="2000" data-x="center" data-y="280">
          Meilleur promotion Tunisie Hotels
        </div><a class="tp-caption sfb fadeout awe-btn awe-btn-style3 awe-btn-slider" data-easing="easeOutBack" data-speed="700" data-start="2200" data-x="center" data-y="380" href="#">Reservé maintenant</a>
      </li>
      <li data-masterspeed="500" data-slotamount="7" data-title="Slide title 2">
        <img alt="" data-bgposition="left center" data-bgpositionend="right center" data-duration="14000" src="images/bg/2.jpg">
        <div class="tp-caption sft fadeout slider-caption-sub slider-caption-sub-2" data-easing="easeOutBack" data-speed="700" data-start="1500" data-x="center" data-y="220">
          Découvrez la destination hebdomadaire
        </div>
        <div class="tp-caption sft fadeout slider-caption slider-caption-2" data-easing="easeOutBack" data-speed="700" data-start="2000" data-x="center" data-y="260">
          Voyagez avec nous
        </div><a class="tp-caption sft fadeout awe-btn awe-btn-style3 awe-btn-slider" data-easing="easeOutBack" data-speed="700" data-start="2200" data-x="center" data-y="370" href="#">Reservé maintenant</a>
      </li>
      <li data-masterspeed="500" data-slotamount="7" data-title="Slide title 3">
        <img alt="" data-bgposition="left center" data-bgpositionend="right center" data-duration="14000" src="images/bg/3.jpg">
        <div class="tp-caption lfl fadeout slider-caption slider-caption-3" data-easing="easeOutBack" data-speed="700" data-start="1500" data-x="center" data-y="260">
          Sinter Voyage
        </div>
        <div class="tp-caption lfr fadeout slider-caption-sub slider-caption-sub-3" data-easing="easeOutBack" data-speed="700" data-start="2000" data-x="center" data-y="365">
          Emmenez vous dans tous les coins du monde
        </div>
      </li>
    </ul>
  </div>
</section>
<section>
  <div class="container">
    <div class="awe-search-tabs tabs">
      <ul>
        <li>
          <a href="#awe-search-tabs-1"><i class="awe-icon awe-icon-briefcase"></i></a>
        </li>
        <li>
          <a href="#awe-search-tabs-2"><i class="awe-icon awe-icon-hotel"></i></a>
        </li>
        <li>
          <a href="#awe-search-tabs-5"><i class="awe-icon awe-icon-car"></i></a>
        </li>
        <li>
          <a href="#awe-search-tabs-6"><i class="awe-icon awe-icon-bus"></i></a>
        </li>
      </ul>
      <div class="awe-search-tabs__content tabs__content">
        <div class="search-flight-hotel" id="awe-search-tabs-1">
          <h2>Chercher Camping + Randonner</h2>
          <form>
            <div class="form-group">
              <div class="form-elements">
                <label>De</label>
                <div class="form-item">
                  <i class="awe-icon awe-icon-marker-1"></i> <input type="text" value="Tunis, Sousse, Sfax">
                </div>
              </div>
              <div class="form-elements">
                <label>À</label>
                <div class="form-item">
                  <i class="awe-icon awe-icon-marker-1"></i> <input type="text" value="Bizert, Nabeul, Dougga">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-elements">
                <label>Depart</label>
                <div class="form-item">
                  <i class="awe-icon awe-icon-calendar"></i> <input class="awe-calendar" type="text" value="Arriver">
                </div>
              </div>
              <div class="form-elements">
                <label>Retour</label>
                <div class="form-item">
                  <i class="awe-icon awe-icon-calendar"></i> <input class="awe-calendar" type="text" value="Quitter">
                </div>
              </div>
            </div>
            <div class="form-actions">
              <input type="submit" value="Chercher">
            </div>
          </form>
        </div>
        <div class="search-hotel" id="awe-search-tabs-2">
          <h2>Où voudriez-vous aller?</h2>
          <form>
            <div class="form-group">
              <div class="form-elements">
                <label>Destinations</label>
                <div class="form-item">
                  <i class="awe-icon awe-icon-marker-1"></i> <input type="text" value="Hammamet, Sousse, Djerba">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-elements">
                <label>Départ</label>
                <div class="form-item">
                  <i class="awe-icon awe-icon-calendar"></i> <input class="awe-calendar" type="text" value="Check in">
                </div>
              </div>
              <div class="form-elements">
                <label>Retour</label>
                <div class="form-item">
                  <i class="awe-icon awe-icon-calendar"></i> <input class="awe-calendar" type="text" value="Check out">
                </div>
              </div>
              <div class="form-elements">
                <label>Adult</label>
                <div class="form-item">
                  <select class="awe-select">
                    <option>
                      0
                    </option>
                    <option>
                      1
                    </option>
                    <option>
                      2
                    </option>
                    <option>
                      3
                    </option>
                  </select>
                </div><span>12 ans et plus</span>
              </div>
              <div class="form-elements">
                <label>Enfant</label>
                <div class="form-item">
                  <select class="awe-select">
                    <option>
                      0
                    </option>
                    <option>
                      1
                    </option>
                    <option>
                      2
                    </option>
                    <option>
                      3
                    </option>
                  </select>
                </div><span>0-11 ans</span>
              </div>
            </div>
            <div class="form-actions">
              <input type="submit" value="Trouver Hotels">
            </div>
          </form>
        </div>
        <div class="search-car" id="awe-search-tabs-5">
          <h2>Location de voiture</h2>
          <form>
            <div class="form-group">
              <div class="form-elements">
                <label>Ville</label>
                <div class="form-item">
                  <i class="awe-icon awe-icon-marker-1"></i> <input type="text" value="Ville, aéroport...">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-elements">
                <label>De</label>
                <div class="form-item">
                  <i class="awe-icon awe-icon-calendar"></i> <input class="awe-calendar" type="text" value="Date">
                </div>
              </div>
              <div class="form-elements">
                <label>Jusqu'à</label>
                <div class="form-item">
                  <i class="awe-icon awe-icon-calendar"></i> <input class="awe-calendar" type="text" value="Date">
                </div>
              </div>
            </div>
            <div class="form-actions">
              <input type="submit" value="Trouver voiture">
            </div>
          </form>
        </div>
        <div class="search-bus" id="awe-search-tabs-6">
          <h2>Location de bus</h2>
          <form>
            <div class="form-group">
              <div class="form-elements">
                <label>De</label>
                <div class="form-item">
                  <i class="awe-icon awe-icon-marker-1"></i> <input type="text" value="Ville, zone...">
                </div>
              </div>
              <div class="form-elements">
                <label>À</label>
                <div class="form-item">
                  <i class="awe-icon awe-icon-marker-1"></i> <input type="text" value="Ville, zone...">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-elements">
                <label>À partir de </label>
                <div class="form-item">
                  <i class="awe-icon awe-icon-calendar"></i> <input class="awe-calendar" type="text" value="Date">
                </div>
              </div>
              <div class="form-elements">
                <label>Jusqu'à</label>
                <div class="form-item">
                  <i class="awe-icon awe-icon-calendar"></i> <input class="awe-calendar" type="text" value="Date">
                </div>
              </div>
            </div>
            <div class="form-actions">
              <input type="submit" value="Trouver bus">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="masonry-section-demo">
  <div class="container">
    <div class="destination-grid-content">
      <div class="section-title">
        <h3>Plus que <a href="destinations-grid.html">238 destinations</a> vous attends</h3>
      </div>
      <div class="row">
        <div class="awe-masonry">
          <div class="awe-masonry__item">
            <a href="#">
              <div class="image-wrap image-cover"><img alt="" src="images/img/1.jpg"></div></a>
            <div class="item-title">
              <h2><a href="#">Hammamet</a></h2>
              <div class="item-cat">
                <ul>
                  <li>
                    <a href="#">Nabeul</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="item-available">
              <span class="count">54</span> Hotels disponibles
            </div>
          </div>
          <div class="awe-masonry__item">
            <a href="#">
              <div class="image-wrap image-cover"><img alt="" src="images/img/2.jpg"></div></a>
            <div class="item-title">
              <h2><a href="#">Djerba</a></h2>
              <div class="item-cat">
                <ul>
                  <li>
                    <a href="#">Medenine</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="item-available">
              <span class="count">32</span> Hotels disponibles
            </div>
          </div>
          <div class="awe-masonry__item">
            <a href="#">
              <div class="image-wrap image-cover"><img alt="" src="images/img/3.jpg"></div></a>
            <div class="item-title">
              <h2><a href="#">Gammarth</a></h2>
              <div class="item-cat">
                <ul>
                  <li>
                    <a href="#">Tunis</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="item-available">
              <span class="count">41</span> Hotels disponibles
            </div>
          </div>
          <div class="awe-masonry__item">
            <a href="#">
              <div class="image-wrap image-cover"><img alt="" src="images/img/4.jpg"></div></a>
            <div class="item-title">
              <h2><a href="#">Skanes</a></h2>
              <div class="item-cat">
                <ul>
                  <li>
                    <a href="#">Monastir</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="item-available">
              <span class="count">31</span> Hotels disponibles
            </div>
          </div>
          <div class="awe-masonry__item">
            <a href="#">
              <div class="image-wrap image-cover"><img alt="" src="images/img/5.jpg"></div></a>
            <div class="item-title">
              <h2><a href="#">Gammarth</a></h2>
              <div class="item-cat">
                <ul>
                  <li>
                    <a href="#">Tunis</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="item-available">
              <span class="count">31</span> Hotels disponibles
            </div>
          </div>
          <div class="awe-masonry__item">
            <a href="#">
              <div class="image-wrap image-cover"><img alt="" src="images/img/6.jpg"></div></a>
            <div class="item-title">
              <h2><a href="#">Carthage</a></h2>
              <div class="item-cat">
                <ul>
                  <li>
                    <a href="#">Tunis</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="item-available">
              <span class="count">31</span> Hotels disponibles
            </div>
          </div>
          <div class="awe-masonry__item">
            <a href="#">
              <div class="image-wrap image-cover"><img alt="" src="images/img/7.jpg"></div></a>
            <div class="item-title">
              <h2><a href="#">Matmata</a></h2>
              <div class="item-cat">
                <ul>
                  <li>
                    <a href="#">Tozer</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="item-available">
              <span class="count">31</span> Hotels disponibles
            </div>
          </div>
          <div class="awe-masonry__item">
            <a href="#">
              <div class="image-wrap image-cover"><img alt="" src="images/img/8.jpg"></div></a>
            <div class="item-title">
              <h2><a href="#">Mahdia</a></h2>
              <div class="item-cat">
                <ul>
                  <li>
                    <a href="#">Mahdia</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="item-available">
              <span class="count">31</span> Hotels disponibles
            </div>
          </div>
          <div class="awe-masonry__item">
            <a href="#">
              <div class="image-wrap image-cover"><img alt="" src="images/img/9.jpg"></div></a>
            <div class="item-title">
              <h2><a href="#">Tabarka</a></h2>
              <div class="item-cat">
                <ul>
                  <li>
                    <a href="#">Jendouba</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="item-available">
              <span class="count">31</span> Hotels disponibles
            </div>
          </div>
        </div>
      </div>
      <div class="more-destination">
        <a href="hotel.html">Plus de destinations</a>
      </div>
    </div>
  </div>
</section>
<section class="sale-flights-section-demo">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="sale-flights-tabs tabs">
          <ul>
            <li>
              <a href="#sale-flights-tabs-1">Meilleurs voyages</a>
            </li>
          </ul>
          <div class="sale-flights-tabs__content tabs__content">
            <div id="sale-flights-tabs-1">
              <div class="trip-item">
                <div class="item-media">
                  <div class="image-cover"><img alt="" src="images/trip/2.jpg"></div>
                  <div class="trip-icon"><img alt="" src="images/trip.jpg"></div>
                </div>
                <div class="item-body">
                  <div class="item-title">
                    <h2><a href="#">Spectaculaire vue sur la ville</a></h2>
                  </div>
                  <div class="item-list">
                    <ul>
                      <li>4 Attractions</li>
                      <li>7 jours, 6 nuit</li>
                    </ul>
                  </div>
                  <div class="item-footer">
                    <div class="item-rate">
                      <span>7.5 Bien</span>
                    </div>
                    <div class="item-icon">
                      <i class="awe-icon awe-icon-gym"></i> <i class="awe-icon awe-icon-car"></i> <i class="awe-icon awe-icon-food"></i> <i class="awe-icon awe-icon-level"></i> <i class="awe-icon awe-icon-wifi"></i>
                    </div>
                  </div>
                </div>
                <div class="item-price-more">
                  <div class="price">
                    Billet adulte <ins><span class="amount">900 DT</span></ins> <del><span class="amount">1200 Dt</span></del>
                  </div><a class="awe-btn" href="#">Réserver</a>
                </div>
              </div>
              <div class="trip-item">
                <div class="item-media">
                  <div class="image-cover"><img alt="" src="images/trip/3.jpg"></div>
                  <div class="trip-icon"><img alt="" src="images/trip.jpg"></div>
                </div>
                <div class="item-body">
                  <div class="item-title">
                    <h2><a href="#">Romantique Amesterdam</a></h2>
                  </div>
                  <div class="item-list">
                    <ul>
                      <li>7 Attractions</li>
                      <li>8 Jours, 7 nuits</li>
                    </ul>
                  </div>
                  <div class="item-footer">
                    <div class="item-rate">
                      <span>7.5 Bien</span>
                    </div>
                    <div class="item-icon">
                      <i class="awe-icon awe-icon-gym"></i> <i class="awe-icon awe-icon-car"></i> <i class="awe-icon awe-icon-food"></i> <i class="awe-icon awe-icon-level"></i> <i class="awe-icon awe-icon-wifi"></i>
                    </div>
                  </div>
                </div>
                <div class="item-price-more">
                  <div class="price">
                    Billet adulte <ins><span class="amount">200 DT</span></ins> <del><span class="amount">400 DT</span></del>
                  </div><a class="awe-btn" href="#">Réserver</a>
                </div>
              </div>
              <div class="trip-item">
                <div class="item-media">
                  <div class="image-cover"><img alt="" src="images/trip/4.jpg"></div>
                  <div class="trip-icon"><img alt="" src="images/trip.jpg"></div>
                </div>
                <div class="item-body">
                  <div class="item-title">
                    <h2><a href="#">London - Hiver</a></h2>
                  </div>
                  <div class="item-list">
                    <ul>
                      <li>4 Attractions</li>
                      <li>9 Jours, 1 nuit</li>
                    </ul>
                  </div>
                  <div class="item-footer">
                    <div class="item-rate">
                      <span>8.5 Bien</span>
                    </div>
                    <div class="item-icon">
                      <i class="awe-icon awe-icon-gym"></i> <i class="awe-icon awe-icon-car"></i> <i class="awe-icon awe-icon-food"></i> <i class="awe-icon awe-icon-level"></i> <i class="awe-icon awe-icon-wifi"></i>
                    </div>
                  </div>
                </div>
                <div class="item-price-more">
                  <div class="price">
                    Billet pour adulte <ins><span class="amount">3200DT</span></ins> <del><span class="amount">3000 DT</span></del>
                  </div><a class="awe-btn" href="#">Réserver</a>
                </div>
              </div>
              <div class="trip-item">
                <div class="item-media">
                  <div class="image-cover"><img alt="" src="images/trip/5.jpg"></div>
                  <div class="trip-icon"><img alt="" src="images/trip.jpg"></div>
                </div>
                <div class="item-body">
                  <div class="item-title">
                    <h2><a href="#">Croisière</a></h2>
                  </div>
                  <div class="item-list">
                    <ul>
                      <li>4 Attractions</li>
                      <li>2 days, 1 night</li>
                    </ul>
                  </div>
                  <div class="item-footer">
                    <div class="item-rate">
                      <span>6.5 Good</span>
                    </div>
                    <div class="item-icon">
                      <i class="awe-icon awe-icon-gym"></i> <i class="awe-icon awe-icon-car"></i> <i class="awe-icon awe-icon-food"></i> <i class="awe-icon awe-icon-level"></i> <i class="awe-icon awe-icon-wifi"></i>
                    </div>
                  </div>
                </div>
                <div class="item-price-more">
                  <div class="price">
                    Adult ticket <ins><span class="amount">4200DT</span></ins> <del><span class="amount">4100DT</span></del>
                  </div><a class="awe-btn" href="#">Réserver</a>
                </div>
              </div>
              <div class="trip-item">
                <div class="item-media">
                  <div class="image-cover"><img alt="" src="images/trip/1.jpg"></div>
                  <div class="trip-icon"><img alt="" src="images/trip.jpg"></div>
                </div>
                <div class="item-body">
                  <div class="item-title">
                    <h2><a href="#">Malta</a></h2>
                  </div>
                  <div class="item-list">
                    <ul>
                      <li>4 Attractions</li>
                      <li>2 days, 1 night</li>
                    </ul>
                  </div>
                  <div class="item-footer">
                    <div class="item-rate">
                      <span>9.5 Good</span>
                    </div>
                    <div class="item-icon">
                      <i class="awe-icon awe-icon-gym"></i> <i class="awe-icon awe-icon-car"></i> <i class="awe-icon awe-icon-food"></i> <i class="awe-icon awe-icon-level"></i> <i class="awe-icon awe-icon-wifi"></i>
                    </div>
                  </div>
                </div>
                <div class="item-price-more">
                  <div class="price">
                    Billet pour adulte <ins><span class="amount">1200DT</span></ins> <del><span class="amount">1000DT</span></del>
                  </div><a class="awe-btn" href="#">Réserver</a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="awe-services">
          <h2>Notre points forts</h2>
          <ul class="awe-services__list">
            <li>
              <i class="awe-icon awe-icon-check"></i> <i class="awe-icon awe-icon-arrow-right"></i> 100 destinations dans le monde <span>Pas de frais de réservation</span>
            </li>
            <li>
              <i class="awe-icon awe-icon-check"></i> <i class="awe-icon awe-icon-arrow-right"></i> 100% de satisfaction <span>Satisfait ou remboursé</span>
            </li>
            <li>
              <i class="awe-icon awe-icon-check"></i> <i class="awe-icon awe-icon-arrow-right"></i> Support 7/7 <span>N'importe quand et n'importe où</span>
            </li>
            <li>
              <i class="awe-icon awe-icon-check"></i> <i class="awe-icon awe-icon-arrow-right"></i> Support 7/7 <span>N'importe quand et n'importe où</span>
            </li>
            <li>
              <i class="awe-icon awe-icon-check"></i> <i class="awe-icon awe-icon-arrow-right"></i> Gérer vos réservations en ligne <span>N'importe quand et n'importe où</span>
            </li>
          </ul>
          <div class="video-wrapper embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/p7gLsywaaQ0" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
