	 <div id='success_page' class="alert-success">

	 <h3 class='succes_message'>Votre demande a été envoyé avec succes.</h3>

	 <p class="text-success">On vous remercie et on vous repondre dans les plus brefs délais</p>

	 </div>
