<!--<h2>Traducion form</h2>
<form action="/createTraduction" method="POST">
  <table>

    <tr><td>Source</td><td><input type="text" name="traduction[source]"></td></tr>

    <tr><td>Destination</td><td><input type="text" name="traduction[destination]"></td></tr>

    <tr><td>Nombre de Pages</td><td><input type="number" name="traduction[numberOfPage]"></td></tr>

    <tr><td>Type Document</td><td><input type="text" name="traduction[doctype]"></td></tr>

    <tr ><td> <input type="submit"value="ajouter"></td></tr>
  </table>

</form>-->

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 ">
        <div class="contact-page__form">
          <div class="title text-center">
            <span>Sinter est une agence de traduction professionnelle en ligne</span>
            <h2>Devis gratuit</h2>
          </div>
          <div class="descriptions text-center">
            <p> Grâce à notre plateforme de traduction professionnelle, obtenir une traduction n'a jamais été aussi simple.
              Nous sommes la solution pour des traductions de qualité à un rapport qualité/prix inégalable.  </p>
          </div>
          <form action="send" class="contact-form" method="POST">
            <div class="form-item">
              <select class="form-control" id="sourceLanguage" name="sourceLanguage">
                <option>Langue source</option>
                <option>Fr - Français</option>
                <option>An - Anglais</option>
                <option>Ar - Arabe</option>
                <option>Es - Espagnole</option>
              </select>
            </div>
            <div class="form-item">
              <select class="form-control" id="destinationLanguage" name="destinationLanguage">
                <option>Langue destination</option>
                <option>Fr - Français</option>
                <option>An - Anglais</option>
                <option>Ar - Arabe</option>
                <option>Es - Espagnole</option>
              </select>
            </div>
            <div class="form-item">
              <input id ="numberOfPages" name="numberOfPages" type="number" placeholder="saisir le nombre des pages à traduire" required="true">
            </div>
            <div class="form-item">
              <input id ="docType" name="docType" type="text" placeholder="Type de document " >
            </div>
            <div class="form-item">
              <input id ="name" name="name" type="text" placeholder="Votre Nom *" required="true">
            </div>
            <div class="form-item">
              <input id="email" name="email" type="email" placeholder="Votre Email *"required="true" >
            </div>
            <div class="form-item">
              <input id="tel" name="tel" type="text"
                     pattern="^[0-9]{8}$" placeholder="Votre Tél *" required="true">
            </div>
            <div class="form-item">
              <input id ="subject" name="subject" type="text" placeholder="Sujet ">
            </div>
            <div class="form-textarea-wrapper">
              <textarea name="comment" placeholder="Description"></textarea>
            </div>
            <div class="form-actions">
              <input class="submit-contact" type="submit" value="Envoyer">
            </div>
            <div id="contact-content"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

